<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dish searching</title>
  </head>
  <body>
    <h1> Search for drinks in Danang city by foody.vn </h1>
    <form method="POST">  
        <input type="text" name="search"/>
        <br><br> 
        <label for="drinks">Sort by:</label>
        <select name="drinks" id="drinks">
          <option value="drink name">Drink name</option>
          <option value="price">Price</option>
          <option value="Rating">Rating</option>
        </select>
        <br><br>
        <button type="submit">search</button>  
    </form>  

</body>
</html>